
body {
	font-family: Open Sans, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav ul div {
	padding: .8rem;
	margin-bottom: 2rem;
	list-style-type: none;
	display: inline-block;

}

nav {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 10%;
  z-index: 5;
  max-height: 5rem;
}

.right-nav {
	float: right;
	margin-bottom: 2rem;
	padding-right: 10%;
	display: inline;
	position: relative;
	z-index: 5;
	word-spacing: 1rem;

}
.nav-logo {
	float: left;
	display: inline-block;
	position: absolute;
	padding-left: 15%;
	margin-top: 2rem;
}

.nav {
	display: inline;
}

.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	border-color: #c2195b;
	font-size: 1rem;
	padding: .5rem;
	margin-top: 1rem;
}

.apply-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	border-color: #c2195b;
	font-size: 1rem;
	padding: .5rem;
	margin-top: 1rem;

	display: inline-block;
	position: absolute;
  	z-index: 0;
  	left: 80rem;
   
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 50vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	background-attachment: scroll;
	position: relative;
	z-index: 0;
	margin-top: 5%;
}

.front-bg {
	background-color: black;
	min-height: 50vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	background-attachment: scroll;
	position: relative;
	z-index: 0;
	opacity: .5;
}


.title	{
	display: block;
	color: white;
	font-size: 50px;
	font-family: 'Zilla Slab';
	padding-right: 10%;
	padding-left: 50%;
	margin-bottom: 1rem;
	font-weight: bold;
	position: relative;
	text-align: right;
	
}

.subtitle	{
	display: block;
	padding-right: 10%;
	padding-left: 60%;
	color: white;
	position: relative;
	text-align: right;
	font-size: 20px;

	
}


.title-2 {
	vertical-align: bottom;
	text-align: center;
	color: black;
	padding: 1rem;
	margin-top: 2rem;
	font-family: 'Zilla Slab';
	font-weight: bold;
	font-size: 32px;

}

section .prefooter {
	margin-top: 5rem;
	text-align: center;
	color: black;
	padding: 1rem;
	background-color: #f7fbfb;
}

.prefooter-description {
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
}


.intro-description {
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

.book-button {
	font-weight: bold;
	background-color: #336589;
	border-radius: 25px;
	font-size: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	margin-top: 1rem;
	color: white;
	text-align: center;
	margin-left: 45%;
	margin-right: 45%;
	margin-bottom: 10rem;
}

section .intro {
	margin-top: 5rem;
	text-align: center;
}

footer {
	text-align: center;
}
